.App {
    text-align: center;
}

.App-logo {
    height: 100px;
    transition: all 0.3s ease;
}

.App-header {
    background-color: white;
    height: 15vh;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
    max-height: 100%;
}

h2 {
    font-family: 'Slackey', cursive;
    color: black;
}

a {
    text-decoration: underline;
    color: black;
}

.line-separator {
    height: 2px;
    background: white;
    border-bottom: 1px solid black;

}

/***********************
FLASHCARDS
***********************/

.flashcard {
    position: relative;
    text-align: left;
    background: #f2f2f2;
    color: #000000;
    border: 2px solid rgb(0, 0, 0) !important;
    font-weight: normal;
    height: 70px;
    margin-bottom: 20px;
    overflow: hidden;
    padding: 15px;
    overflow-y: auto;
    max-width: 60%;
}

.button-answer {
    font-family: 'Orbitron', cursive;
    position: relative;
    text-align: center;
    background: #f2f2f2;
    color: #000000;
    border: 2px solid rgb(0, 0, 0) !important;
    font-weight: normal;
    padding: 15px 40px;
}

.center {
    left: 20%;
}

.input-answer {
    width: 100%;
    height: 60%;
}

.hidden>p {
    display:none;
}

.visible>p {
    display:block;
}

/***********************
INTRODUCTION
***********************/

.Introduction {
    font-size: 17px;
}

.make-it-bigger:hover {
    transform: scale(1.3);
}

#bigger-font {
    font-size: 16px;
    font-weight: bold;
    transform: scale(1.3);
}

.styleIntroduction {
    font-family: 'Orbitron', sans-serif;
    font-size: 15px;
    text-align: center;
    margin: 10px 0;
}

/***********************
TUTORIAL
***********************/

#video {
    margin: 0;
    padding: 0;
}

.welldone {
    margin: 180px 0;
}

.questions {
    margin: 145px 0;
}

button {
    margin: 10px 20px;
}

button:hover {
    color: white;
    background-color: lightgray;
}

/***********************
CONTENT
***********************/

.content {
    border-top: 1px solid black;
    max-width: 100%;
    margin: 50px 100px 0 100px;
    padding: 0 5%;
    background: #ffffff;
    text-align: center;
    text-decoration: none;
}

/***********************
SESSION SUMMARY
***********************/

.session-summary {
    align-content: center;
    text-align: center;
    display: inline-block;
    padding: 20px 20px;
}



/***********************
CONTACT
***********************/

.contact {
    border-top: 1px solid black;
    max-width: 100%;
    margin: 100px 100px 0 100px;
    padding: 0 5%;
    background: #ffffff;
    text-align: center;
    text-decoration: none;
}

.facebook, .twitter, .google {
    font-family: 'Orbitron', sans-serif;
    float: left;
    font-weight: bold;
}

.email {
    font-family: 'Orbitron', sans-serif;
    float: right;
    font-weight: bold;
}

.facebook1, .twitter1, .google1 {
    margin: 0 10px 0 40px;
}

.email1 {
    margin: 0 10px 0 40px;
}
