html,
body {
    font-family: 'Exo 2', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    height: 100%;
    margin: 0;
    padding: 0;
}

.Mobile {
    text-align: center;
    color: rgb(12, 108, 203);
    background-color: rgb(12, 108, 203);
    min-width: 100%;
    min-height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}

.App {
    text-align: center;
    color: white;
    background-color: white;
    min-width: 1024px;
    min-height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    background-image: url('img/bg-airplane.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 1024px 289px;
}

.App-logo {
    height: 100px;
    transition: all 0.3s ease;
}

.App-header-container {
    text-align: left;
    width: 100%;
    background-color: white;
    padding: 0;
    margin: 0;
}

.App-header {
    width: 1024px;
    background-color: white;
    padding: 20px;
    padding-left: 0;
    padding-right: 0;
    color: white;
    margin: auto;
}

.App-header-shadow {
    height: 163px;
    background-image: url('img/bg-shadow.png');
    background-repeat: repeat-x;
    background-position: bottom;
}

.App-header-right {
    color: black;
    padding-right: 20px;
    float: right;
}

.App-header-right a {
    color: black;
    padding-right: 20px;
}

.dd-menu .dd-menu-items {
    z-index: 1000;
}

.dropdown .dd-menu-items {
    top: 115px;
    padding: 0;
}

.dropdown .dd-menu-items ul {
    background-color: #eee;
}

.dropdown .dd-menu-items a {
    font-size: 20px;
    color: #888;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    padding: 5px;
    margin-left: 35px;
    margin-right: 35px;
    padding-left: 10px;
    display: block;
}

.dropdown .dd-menu-items a:hover {
    color: black;
}

.menu-separator {
    width: 100%;
    height: 10px;
}

.menu-separator-visible {
    background-image: url('img/menu-separator.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.menu-icon {
    margin-top: 35px;
    cursor: pointer;
    width: 35px;
    height: 25px;
}

.menu-profile-container {
    width: 100%;
    height: 300px;
    background-color: white;
    background-image: url('img/bg-shadow.png');
    background-repeat: repeat-x;
    background-position: top;
}

.menu-profile-image {
    float: left;
    margin: 20px;
    margin-left: 30px;
    margin-right: 0;
    height: 260px;
}

.menu-profile-info {
    width: 250px;
    height: 300px;
    float: right;
}

.menu-profile-name {
    margin: 0;
    padding: 0;
    margin-top: 65px;
    font-size: 30px;
    color: navy;
    text-align: center;
}

.menu-profile-stats {
    width: 250px;
    height: 200px;
    background-image: url('./img/vertical-separator.png');
    background-size: 8px 120px;
    background-repeat: no-repeat;
    background-position: center center;
}

.menu-profile-stats div {
    color: #888888;
    padding: 20px;
    padding-top: 60px;
    float: left;
    text-align: center;
    width: 125px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.menu-profile-stats img {
    margin-top: 10px;
    width: 30px;
}

.menu-profile-stat-values {
    font-weight: bold;
    font-size: 22px;
}

h2 {
    font-family: 'Kalam', cursive;
}

a {
    color: white;
    text-decoration: underline;
}

.line-separator {
    height: 2px;
    background: white;
    border-bottom: 1px solid black;

}

.course-selector {
    min-height: 300px;
    margin-top: 100px;
    color: white;
    padding: 0;
}

.course-selector h2 {
    color: white;
}

.course-selector li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.course-icon {
    display: inline-block;
    margin: 20px;
}

.course-icon img {
    display: inline-block;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

.course-icon img:hover {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.course-icon div {
    margin-top: 10px;
}

.course-icon-disabled {
    display: inline-block;
    margin: 20px;
}

.course-icon-disabled img {
    display: inline-block;
}

.course-icon-disabled div {
    margin-top: 10px;
}

.oldBrainLinkContainer {
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

/***********************
FLASHCARDS
***********************/

.flashcard {
    position: relative;
    margin: auto;
    margin-bottom: 180px;
    color: black;
    padding: 15px;
    padding-right: 25px;
    padding-bottom: 25px;
    width: 366px;
    height: 366px;
    text-align: left;
    background-image: url('./img/bg-question.png');
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.flashcardImageContainer {
    text-align: center;
}

.flashcardImage {
    background-color: white;
    border: 2px solid black;
}

.flashcardAlphaImage {

}

.button-answer {
    font-family: 'Orbitron', cursive;
    position: relative;
}

.flashcard-title {
    color: gray;
}

.flashcard-title-not-casual {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 15px;
    right: 30px;
    background-image: url('./img/exclamation.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.flashcard-title-not-casual .flashcard-title-not-casual-tooltip {
    color: black;
    width: 165px;
    height: 30px;
    line-height: 30px;
    padding: 5px;
    position: absolute;
    top: -10px;
    right: -3px;
    visibility: hidden;
    z-index: 100;
    background-color: rgba(255,255,255,1);
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.flashcard-title-not-casual:hover .flashcard-title-not-casual-tooltip {
    visibility: visible;
}

.flashcard-not-casual-popup {
    cursor: default;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    width: 210px;
    height: 315px;
    position: absolute;
    text-align: justify;
    top: 15px;
    left: 400px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.20), 0 2px 4px rgba(0, 0, 0, 0.29);
}

.flashcard-not-casual-popup p {
    cursor: pointer;
    margin: 10px;
    padding: 5px;
    text-align: center;
    background-color: #ddd;
    color: black;
    border-radius: 5px;
}

.flashcard-not-casual-popup p:hover {
    background-color: black;
    color: white;
}

.flashcard-not-casual-popup strong {
    color: black;
}

.flashcard-not-casual-popup div {
    margin-top: 5px;
}

.flashcard-content {
    display: table;
    width: 100%;
    height: 90%;
}

.flashcard-content-text {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px;
    padding-top: 10px;
    padding-bottom: 20px;
    display: table-cell;
    vertical-align: middle;
    clear: both;
}

.flashcard-footer {
    position: absolute;
    bottom: 28px;
    font-size: 10px;
    color: gray;
}

.flashcard-thumbnail {
    width: 120px;
    float: right;
    margin: 0;
    margin-left: 10px;
    margin-bottom: 10px;
}

.fullscreen-container {
    display: table;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
}

.fullscreen-image-subtitle-container {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 16px;
    position: fixed;
    z-index: 1001;
    bottom: 0;
    margin: auto;
}

.fullscreen-image-subtitle-container p {
    height: 40px;
    line-height: 40px;
    width: 250px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.50);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.fullscreen-image-container {
    text-align: center;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    display: table-cell;
    overflow: auto;
}

.flashcard-thumbnail-enlarged {
}

.answer-buttons-container {
    position: absolute;
    width: 100%;
    height: 180px;
    bottom: 0;
    background-color: white;
    background-image: url('img/bg-shadow-bottom.png');
    background-repeat: repeat-x;
    background-position: top;
}

.answer-button {
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    width: 120px;
    height: 120px;
}

.levelUpImage {
    height: 40vh;
}

.skip-tutorial-button {
    background-image: url('img/button-skip-tutorial.png');
    background-repeat: repeat-x;
    background-position: top;
    background-size: cover;
    margin: auto;
    margin-top: 20px;
    cursor: pointer;
    width: 400px;
    height: 70px;
    vertical-align: middle;
    line-height: 70px;

}

.skip-tutorial-button:hover {
    color: #eaeaea;
}

.confirm-level-up-button {
    background-image: url('img/button-skip-tutorial.png');
    background-repeat: repeat-x;
    background-position: top;
    background-size: cover;
    margin: auto;
    margin-top: 20px;
    cursor: pointer;
    width: 400px;
    height: 70px;
    vertical-align: middle;
    line-height: 70px;

}

.confirm-level-up-button:hover {
    color: #eaeaea;
}

.scrollable-text {
    max-height: 100%;
}

.center-text {
    text-align: center;
}

.input-answer {
    width: 100%;
    height: 60%;
}

.hidden > p {
    display: none;
}

.visible > p {
    display: block;
}

/***********************
INTRODUCTION
***********************/

.make-it-bigger:hover {
    transform: scale(1.3);
}

#bigger-font {
    font-size: 24px;
    font-weight: bold;
}

/***********************
TUTORIAL
***********************/

#video {
    color: white;
}

#video h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.flexible-wrapper-container {
    display: table;
    width: 100%;
}

.flexible-wrapper-content {
    display: table-cell;
    vertical-align: middle;
}

button {
    margin: 10px 20px;
}

button:hover {
    color: white;
    background-color: lightgray;
}

/***********************
CONTENT
***********************/

.content {
    border-top: 1px solid black;
    max-width: 100%;
    margin: 50px 100px 0 100px;
    padding: 0 5%;
    background: #ffffff;
    text-align: center;
    text-decoration: none;
}

.progress-bar {
    height: 40px;
    width: 70px;
}

.youTube-player {
    background-color: black;
    border: 1px solid black;
}

/***********************
SESSION SUMMARY
***********************/

.session-summary {
    align-content: center;
    text-align: center;
    display: inline-block;
    padding: 20px 20px;
}

/***********************
CONTACT
***********************/

.info-text {
    font-size: 20px;
}

.info-text a {
    color: #8ee4ff;
    text-decoration: none;
}

.info-text a:hover {
    text-decoration: underline;
}

.contact {
    border-top: 1px solid black;
    max-width: 100%;
    margin: 100px 100px 0 100px;
    padding: 0 5%;
    background: #ffffff;
    text-align: center;
    text-decoration: none;
}

.facebook, .twitter, .google {
    float: left;
    font-weight: bold;
}

.email {
    float: right;
    font-weight: bold;
}

.facebook1, .twitter1, .google1 {
    margin: 0 10px 0 40px;
}

.email1 {
    margin: 0 10px 0 40px;
}

.progress-bar {
    height: 50px;
    vertical-align: middle;
    margin: auto;
}

.progress-bar div {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
    display: inline-block;
}

.progress-bar-done {
    vertical-align: middle;
    background-color: white;
}

.progress-bar-todo {
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.5);
}

.progress-bar-left-label {
    line-height: 50px;
    height: 50px;
    vertical-align: middle;
    padding-right: 15px;
    text-align: right;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.progress-bar-right-label {
    line-height: 50px;
    height: 50px;
    vertical-align: middle;
    padding-left: 15px;
    text-align: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.progress-bar-right-label .course-icon {
    margin: 0;
    padding: 0;
    margin-left: 10px;
}

.progress-bar-indicators {
    position: relative;
    height: 25px;
}

.progress-bar-indicators div {
    height: 2px;
}

.progress-bar-dot {
    top: 5px;
    position: absolute;
    width: 14px;
    height: 14px;
}

.login-form {
    margin: auto;
    padding-top: 10px;
    color: black;
    height: 255px;
    width: 400px;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.20), 0 2px 4px rgba(0, 0, 0, 0.29);
}

.login-form div {
    padding-top: 10px;
}

.login-form label {
    padding-top: 1px;
    text-align: center;
    display: inline-block;
    width: 110px;
}

.login-form input {
    padding-bottom: 1px;
    width: 205px;
    font-size: 16px;
    height: 22px;
    background-color: white;
    border: 0;
    border-bottom: 1px solid gray;
    font-family: 'Exo 2', sans-serif;
}

.login-form input[type='checkbox'] {
    width: 16px;
    height: 16px;
}

.login-form-buttons-container {
    margin-top: 15px;
}

.login-button {
    margin: 5px;
    padding: 0 !important;
    border: 0 !important;
    font-size: 15px !important;
    font-family: 'Exo 2', sans-serif;
    background-color: black !important;
    color: white;
    height: 28px !important;
    width: 130px !important;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.20);
}

.login-button-fb {
    margin: 5px;
    padding: 0;
    border: 0;
    font-size: 15px;
    font-family: 'Exo 2', sans-serif;
    background-color: #0074D9 !important;
    color: white;
    height: 28px !important;
    width: 170px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.20);
}

.checkbox-label {
    text-align: left !important;
}

.text-error {
    height: 20px;
    color: #D00;
}

/***********************
FORM
***********************/

.form label {
    display: block;
    margin-top: 2rem;
    font-size: 2rem;
}

.form input {
    font-family: 'Exo 2', sans-serif;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    font-size: 2rem;
    border: 3px solid transparent;
}

.form input.error {
    border: 3px solid #ce4a48
}

.form [type='submit'] {
    margin-top: 3rem;
    background: #62c46c;
    color: #fff;
    padding: 1rem 6rem;
    border-radius: 3rem;
    border: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.form [type='submit']:hover {
    background: #6dcd76;
}

.form [type='submit']:active {
    outline: 0;
    background: #50a050;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

.form [type='submit']:disabled {
    outline: 0;
    background: rgba(98, 196, 108, 0.5);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    cursor: not-allowed;
}

.alert-error {
    display: inline;
    padding: 1rem 6rem;
    border-radius: 0.3rem;
    color: #a94442;
    background: #f2dede;
    border: 1px solid #ebccd1;
}

.hidden {
    visibility: hidden;
    display: inline-block;
}

.user-casual-label {
    display: inline !important;
}

.form [type='checkbox'] {
    padding: 0;
    margin: 0;
    top: -7px;
    left: -15px;
    position: relative;
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
}

/***********************
CALENDAR
***********************/

.calendar-container {
    width: 700px;
    margin: 50px auto;
    background: #fff;
}

.calendar-header {
    display: flex;
}

.calendar-body {
    display: flex;
    flex-flow: row wrap;
    place-content: stretch space-around;
    height: 100%;
}

.day-heading {
    color: #999;
    font-family: 'Exo 2', sans-serif;
    padding: 10px 5px;
    text-align: center;
    flex: 1;
    font-size: 20px;
}

.day-heading.today {
    color: #662d91;
}

.day-heading.sunday {
    color: #a00;
}

.calendar-day {
    display: flex;
    flex-direction: column;
    position: relative;
    width: calc(100% / 7 - 11px);
    height: 100px;
    padding: 5px;
    justify-content: space-between;
    border: 1px solid rgb(204, 204, 204);
    border-bottom-width: 0;
    border-left-width: 0;
    color: #999;
}

.calendar-day.today {
    background: #662d91;
}

.calendar-day .small-circle {
    position: absolute;
    top: -3px;
    right: -3px;
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background: #ccc;
}

.day-number {
    text-align: left;
    color: #999;
    font-size: 16px;
}

.day-number.today {
    color: #fff;
}

.day-number.sunday {
    color: #a00;
}

.review-text {
    color: rgb(102, 45, 145);
    font-size: 25px;
    text-align: center;
    margin-bottom: 5px;
}

.review-text.today {
    color: #fff;
}
