.App {
    text-align: center;
}

.App-logo {
    height: 80px;
    transition: all 0.3s ease;
}

.App-header {
    background-color: white;
    height: 15vh;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
    max-height: 100%;
}

h2 {
    font-family: 'Slackey', cursive;
    color: black;

}

a {
    text-decoration: none;
    color: black;
}

.line-separator {
    height: 2px;
    background: white;
    border-bottom: 1px solid black;

}

/***********************
INTRODUCTION
***********************/

.Introduction {
    font-size: 17px;
}

.make-it-bigger:hover {
    transform: scale(1.3);
}

#bigger-font {
    font-size: 16px;
    font-weight: bold;
    transform: scale(1.3);
}

.styleIntroduction {
    font-family: 'Orbitron', sans-serif;
    font-size: 15px;
    text-align: center;
    margin: 10px 0;
    padding: 20px;
}

/***********************
CONTENT
***********************/

.content {
    border-top: 1px solid black;
    max-width: 100%;
    margin: 50px 100px 0 100px;
    padding: 0 5%;
    background: #ffffff;
    text-align: center;
    text-decoration: none;
}

/***********************
CONTACT
***********************/

.contact {
    border-top: 1px solid black;
    max-width: 100%;
    margin: 400px 100px 0 100px;
    padding: 0 5%;
    background: #ffffff;
    text-align: center;
    text-decoration: none;
}

.facebook, .twitter, .google {
    font-family: 'Orbitron', sans-serif;
    float: left;
    font-weight: bold;
}

.email {
    font-family: 'Orbitron', sans-serif;
    float: right;
    font-weight: bold;
}

.facebook1, .twitter1, .google1 {
    margin: 0 10px 0 40px;
}

.email1 {
    margin: 0 10px 0 40px;
}