{
      "presets": [
        "es2015-without-strict"
      ],
      "plugins": [
        ["babel-plugin-root-import", {
          "rootPathPrefix": "@"
        }],
        "transform-flow-strip-types"
      ]
}
