{
  "plugins": [
    "transform-async-to-generator",
    "transform-react-jsx"
  ],
  "presets": [
    "es2015",
    "stage-2",
    "flow"
  ],
  "env": {
    "development": {
      "presets": [
        "es2015",
        "stage-2",
        "flow"
      ],
      "plugins": [
        [
          "module-rewrite",
          {
            "replaceFunc": "./testing/testHelpers/replace-for-testing.js"
          }
        ],
        "get-rid-of-async-await"
      ]
    }
  }
}