{
  "presets": [
    "es2015",
    "stage-2",
    "flow"
  ],
  "env": {
    "development": {
      "plugins": [
        [
          "module-rewrite-with-root",
          {
            "replaceFunc": "./src/testHelpers/replace-for-testing.js",
            "optionalRoot": "server/"
          }
        ]
      ]
    },

    "test": {
      "plugins": [
        [
          "module-rewrite-with-root",
          {
            "replaceFunc": "./src/testHelpers/replace-for-testing.js",
            "optionalRoot": "server/"
          }
        ]
      ]
    },
    "cypressTest": {
      "presets": [
        "es2015",
        "stage-2",
        "flow"
      ],
      "plugins": [
        [
          "module-rewrite-with-root",
          {
            "replaceFunc": "./src/testHelpers/replace-for-testing.js",
            "optionalRoot": "server/"
          }
        ]
      ]
    }
  }
}